{% extends "header.html" %}
{% block content %}
<h3>Looks like you haven't created a character yet.</h3>
<form action="/intro" method="POST">
    <div class="mb-3">
        <label for="CharName" class="form-label">Enter your name</label>
        <input type="text" class="form-control" id="CharName" placeholder="Name" name="name">
    </div>
    <p>Choose your potion:</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="potionChoice" id="skillRadio" value="skillPotion">
        <label class="form-check-label" for="skillRadio">
          Skill Potion
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="potionChoice" id="staminaRadio" value="staminaPotion" checked>
        <label class="form-check-label" for="staminaRadio">
          Stamina Potion
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="potionChoice" value="luckPotion" id="luckRadio">
        <label class="form-check-label" for="luckRadio">
          Luck Potion
        </label>
      </div>
      <br/>
    <button type="submit" class="btn btn-secondary">Create Character</button>
</form>
{% endblock %}