{% extends "header.html" %}
{% block content %}
<h3>Character Name: {{ character.name }}</h3>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h4>Skill: {{ character.skill }}</h4>
    </div>
    <div class="col">
      <h4>Health: {{ character.health }}</h4>
    </div>
    <div class="col">
      <h4>Luck: {{ character.luck }}</h4>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <form action="/page" method="POST">
        <input type="hidden" name="choice" id="intro" value="intro">
        <button type="submit" class="btn btn-secondary">Continue</button>
      </form>
    </div>
    <div class="col">
      <form action="/stats" method="POST">
        <button type="submit" class="btn btn-secondary">Reroll</button>
      </form>
    </div>
  </div>
</div>
{% block page %}{% endblock %}
{% endblock %}