{% extends "char_summary.html" %}
{% block page %}
<h3>Monster: {{ monster.name }}</h3>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h4>Skill: {{ monster.skill }}</h4>
    </div>
    <div class="col">
      <h4>Stamina: {{ monster.stamina }}</h4>
    </div>
    <div class="col">
    </div>
  </div>
</div>
{% if playerWin %}
<h4>You hit the {{ monster.name }}!</h4>
{% else %}
<h4>The {{ monster.name }} hit you!</h4>
{% endif %}
<p>Player Attack Strength {{ playerAttack }}</p>
<p>Monster Attack Strength {{ monsterAttack }}</p>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <form action="/combat" method="POST">
        <button type="submit" class="btn btn-secondary">Attack!</button>
      </form>
    </div>
    <div class="col">
      <form action="/usedPotion" method="POST">
        <button type="submit" class="btn btn-secondary">Use Potion</button>
      </form>
    </div>
    {% if escape > 0 %}
    <div class="col">
      <form action="/escape" method="POST">
        <button type="submit" class="btn btn-secondary">Escape</button>
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}