{% extends "char_summary.html" %}
{% block page %}
<h3>{{ page.title }}</h3>
{% for paragraph in page.text %}
<p>{{ paragraph }}</p>
{% endfor %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <form action="/page" method="POST">
        <input type="hidden" name="choice" id="0" value="0">
        <button type="submit" class="btn btn-secondary">{{ page.options[0].text }}</button>
      </form>
    </div>
    <div class="col">
      <form action="/page" method="POST">
        <input type="hidden" name="choice" id="1" value="1">
        <button type="submit" class="btn btn-secondary">{{ page.options[1].text }}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}