{% extends "char_summary.html" %}
{% block page %}
{% if canPotion == "max_health" %}
<h3>You are already at full health.</h3>
{% elif canPotion == "no_potions" %}
<h3>You don't have any potions left!</h3>
{% else %}
<h3>You used a potion!</h3>
{% endif %}

{% if inCombat %}
<form action="/combat" method="POST">
    <input type="hidden" name="choice" id="0" value="potion">
    <button type="submit" class="btn btn-secondary">Attack!</button>
</form>
{% else %}
<form action="/page" method="POST">
    <input type="hidden" name="choice" id="0" value="potion">
    <button type="submit" class="btn btn-secondary">Continue</button>
</form>
{% endif %}
{% endblock %}